body{    /*  全局样式   */
margin:0px;
text-align:center;
background-color:#ffffff;
font-size:12px;
color:#525252;
line-height:17px;
margin-bottom:30px;
}
a{  /*  全局文字链接样式   */
color:#525252;
text-decoration: none;
}
a:hover{   /*  全局文字链接鼠标经过样式   */
color:#AA5ED6;
}
.all{    /*  白色背景区块控制   */
background-color:#FFFFFF;
width:911px;
margin-top:15px;
Margin-Right: auto;Margin-Left: auto;
}
.bg_top{
}
.body_main{   /*  白色背景区块内的主体内容区块控制   */
width:911px;
text-align:left;
Margin-Right: auto;Margin-Left: auto;
}
.head{    /*  “最新公告”以上的版头区块控制  */
float:left;
}
.head_1{  /*  版头logo与logo左边文字区块控制  */
float:left;
margin-top:5px;
margin-left:20px;
display:inline;
}
.head_1_1{  /*  版头文字logo  */
float:left;
color:#000000;
font-family:Arial, Helvetica, sans-serif;
font-size:22px;
line-height:28px;
margin-top:5px;
margin-left:20px;
display:inline;
}
.logo{   /*  版头logo区块控制  */
float:left;
}
.head_2{  /*  版头logo右边的文字区块控制  */
float:right;
width:500px;
margin-top:10px;
}
.head_2_1{   /*  版头logo右边的文字区块样式  */
text-align:right;
width:500px;
}
.head_2_2{   /*  版头logo右边的“花店全国电话”区块样式  */
float:left;
margin-top:5px;
}
.head_2_2_t1{  /*  版头logo右边的“网上商城合作伙伴”区块样式  */
color:#d20021;
width:126px;
float:left;
padding-top:2px;
text-align:right;
margin-left:25px;
display:inline;
}
.head_2_2_t1 a{  /*  版头logo右边的“网上商城合作伙伴”区块文字链接样式  */
color:#d20021;
}
.head_2_2_t1 a:hover{   /*  版头logo右边的“网上商城合作伙伴”区块文字链接鼠标经过样式  */
color:#525252;
}
.line_1{
float:left;
margin-left:10px;
}
.head_2_2_t2{    /*  版头logo右边的“花店全国电话”区块文字样式  */
float:left;
padding-top:2px;
width:156px;
margin-left:10px;
}
.head_2_2_t3{    /*  版头logo右边的“手机用户”区块文字样式  */
float:left;
padding-top:2px;
width:150px;
text-align:right;
margin-left:10px;
}
.nav{    /*  版头主导航区块控制  */
margin-top:13px;
float:left;
width:909px;
height:23px;
background-image:url(./nav_bg.gif);
background-repeat: repeat-x;
border: 1px solid #c2c2c2;
text-align:center;
font-size:14px;
padding-top:6px;
}
.nav a{   /*  版头主导航文字链接样式  */
color:#525252;
text-decoration: none;
font-weight:bold;
}
.nav a:hover{    /*  版头主导航文字链接鼠标经过样式  */
font-weight:bold;
text-decoration: underline;
color:#cf2d2d;
}
.biaoti_1{      /*  主导航里面静态页面的标题样式  */
font-size:10.5pt;
font-weight:bold;
color:#BE92F5;
text-align:center;
margin-top:30px;
}
.biaoti{      /*  主导航里面静态页面没leftmenu的标题样式  */
font-size:10.5pt;
font-weight:bold;
color:#BE92F5;
text-align:center;
margin-top:30px;
margin-left:120px;
}
.yangshi{       /*  主导航里面静态页面内容样式  */   
padding-left:30px;
padding-top:20px;
margin-left:25px;
}
.yangshi a{
color:#525252;
text-decoration: none;
}
.yangshi a:hover{
color:#BE92F5;
font-size:15px;
}
.yangshi_1{    /*  主导航里面静态页面没leftmenu的内容样式  */ 
width:500px;   
padding-left:30px;
padding-top:20px;
margin-left:100px;
}
.yangshi_1 a{
color:#525252;
text-decoration: none;
}
.yangshi_1 a:hover{
color:#BE92F5;
font-size:15px;
}
.head_3{    /*  版头“最新公告”与“搜索商品”区块控制  */
float:left;
width:911px;
margin-top:8px;
}
.head_3_1{    /*  版头“最新公告”文字样试  */
float:left;
}
.head_3_2{    /*  版头“搜索商品”文字样试  */
float:right;
color:#B0AE22;
width:280px;
}
.head_3_2_t{    
float:left;
margin-right:3px;
margin-top:4px;
}
.main{    
width:911px;
float:left;
margin-top:4px;
}
.main_left{
float:left;
width:171px;
}
.login{
float:left;
width:171px;
}
.login_main{
	float:left;
	width:169px;
	border-right-width: 1px;
	border-left-width: 1px;
	border-right-style: solid;
	border-left-style: solid;
	border-right-color: #19799D;
	border-left-color: #19799D;
}
.login_bt{
float:left;
width:169px;
height:23px;
background-image:url(./login_bg_bt.gif);
background-repeat:repeat-x;
text-align:center;
font-size:12px;
font-weight:bold;
color:#000000;
}
.login_main_1{
width:169px;
float:left;
margin-top:12px;
text-align:center;
}
.login_main_2{
width:169px;
float:left;
margin-top:17px;
text-align:center;
}
.call_online{
float:left;
width:171px;
margin-top:20px;
text-align:center;
}
.main_left_bt1{
float: left;
width:171px;
height:27px;
margin-top:12px;
background-image:url(./left_bt_bg.gif);
color:#FFFFFF;
font-size:14px;
text-align:center;
padding-top:11px;
font-weight:bold;
}
.main_left_bt1 a{
text-decoration: none;
color:#FFFFFF;
}
.main_left_bt1 a:hover{
color:#FFFFFF;
text-decoration: underline;
}
.main_left_bt2{   /*  页面左边文字栏目标题文字样式  */
float:left;
width:171px;
margin-top:18px;
padding-bottom:5px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #BE92F5;
color:#000000;
font-size:14px;
font-weight:bold;
}
.main_left_tt1{    /*  页面左边文字栏目内容左栏区块控制  */
float:left;
width:60px;
line-height:23px;
margin-top:8px;
}
.main_left_tt2{   /*  页面左边文字栏目内容右栏区块控制  */
float:left;
width:60px;
line-height:23px;
margin-top:8px;
margin-left:10px;
}

.main_right{
float:left;
margin-left:16px;
width:724px;
}
.main_right_p{
float:left;
width:98%;
margin:0 10px;
padding:0px;
}
.main_right_pa{
margin-top:20px;
float:left;
width:95%;
text-align:left;
}
.main_right_pa p span{
font-size:14px;
font-weight:bold;
color:#000;
}
.main_right_pb{
float:left;
margin:0px;
padding:0px;
width:95%;
}
.right_pb{
font-size:13px;
font-weight:bold;
line-height:200%;
border:1px solid #E7E8E8;
background-color:#F4F5F5;
margin-top:15px;
margin-bottom:15px;
}
.main_right_pb ul{
list-style:none;
padding:0px;
margin:0px;
display:inline;
}
.main_right_pb ul li{
float:left;
margin-left:15px;
display:inline;
}
.main_right_pc{
clear:left;
float:left;
width:95%;
margin-top:30px;
padding-bottom:30px;
margin-left:8px;
}
.banner{
float:left;
}
.banner_1{
float:right;
width:169px;	
border-width:1px;
border-style:solid;
border-color:#D8B2EA;
height:141px;
}
.banner_2{
float:left;
margin-left:5px;
}
.banner_1_1{
text-align:center;
margin:0px;
line-height:19px;
border-right-width: 1px;
border-left-width: 1px;
border-right-style: solid;
border-left-style: solid;
border-right-color: #739D4D;
border-left-color: #739D4D;
}
.main_bt1{
float:left;
width:724px;
height:32px;
background-image:url(./main_bt_bg.gif);
margin-top:20px;
}
.main_bt1_t{
float:left;
font-size:14px;
font-weight:bold;
color:#000000;
margin-top:10px;
margin-left:15px;
display:inline;
}
.main_bt1_t_en{
font-weight:normal;
font-family:Arial, Helvetica, sans-serif;
}
.main_bt1_btn{
float:right;
margin-top:10px;
margin-right:16px;
display:inline;
}
.product{
width:724px;
float:left;
}
.product_1{
float:left;
width:330px;
margin-top:16px;
}
.product_2{
float:left;
width:330px;
margin-top:18px;
margin-left:30px;
}
.product_1_p{     /*  “最新推荐”产品图片控制  */
float:left;
margin-left:10px;
display:inline;
}
.product_1_t{    /*  “最新推荐”介绍文字的文字样式  */
float:left;
margin-top:20px;
margin-left:18px;
line-height:20px;
} 
.product_1_btn{  /*  “最新推荐”订购按扭控制  */
float:left;
margin-top:33px;
margin-left:18px;
}
.product_1_line{
float:left;
margin-top:18px;
}
.product3{
float:left;
width:628px;
}
.product_3{
float:left;
width:127px;
margin-top:18px;
}
.product_3_p{   /*  “精品推荐”产品图片控制及样式  */
float:left;
border: 1px solid #d7d7d7;
width:125px;
height:125px;
}
.product_3_t{     /*  “精品推荐”介绍文字的文字样式  */
float:left;
width:127px;
height:66px;
background-color:#f5ced1;
text-align:center;
padding-top:12px;
}
.product_3_orderit{    /*  “精品推荐”订购区块控制  */
float:left;
width:127px;
height:21px;
background-image:url(./order2_bg.gif);
text-align:center;
color:#FFFFFF;
font-weight:bold;
padding-top:6px;
}
.product_3_orderit a{    /*  “精品推荐”订购文字链接样式  */
color:#FFFFFF;
font-weight:bold;
text-decoration: none;
}
.product_3_orderit a:hover{     /*  “精品推荐”订购文字链接鼠标经过样式  */
text-decoration: underline;
color:#FFFFFF;
}
.product_3_line{
float:left;
margin-left:19px;
margin-right:20px;
margin-top:18px;
}
.news_main{
float:left;
width:911px;
margin-top:30px;
}
.news_1{
float:left;
width:215px;
}
.news_2{
float:left;
width:215px;
margin-left:16px;
}
.news_bt{
float:left;
width:215px;
border-bottom-width: 1px;
border-bottom-style: solid;
border-bottom-color: #BE92F5;
padding-bottom:6px;
margin-bottom:10px;
}
.news_bt_t{   /*  “鲜花漫谈”、“花店经营”、“最新公告”标题文字样式  */
float:left;
font-weight:bold;
font-size:14px;
}
.news_bt_en{     /*  “鲜花漫谈”、“花店经营”、“最新公告”英文标题文字样式  */
font-weight:normal;
font-family:Arial, Helvetica, sans-serif;
font-size:12px;
}
.news_bt_more{     
float:right;
margin-top:5px;
}
.news_tt{
float:left;
margin-top:5px;
width:215px;
line-height:23px;
color:#525252;
}
.news_ttt{
float:left;
width:909px;
}
.notice{
float:left;
border-top-width: 1px;
border-top-style: solid;
border-top-color: #BE92F5;
margin-top:15px;
padding-top:10px;
width:909px;
line-height:20px;
color:#525252;
}
.notice p{
color:#000000;
}
.notice_1{                                       /*  总服务台  */  
float:left;
margin:0px;
padding:0px;
width:724px;
line-height:20px;
color:#525252;
font-size:14px;
display:inline;
}
.notice_1 ul{
list-style-type:none;
display:inline;
}
.notice_1 ul li{
display:inline;
margin-left:12px;
}
.footer{
float:left;
width:911px;
margin-top:50px;
}
.footer_1{
width:911px;
float:left;
padding-bottom:25px;
background-image:url(./footer_line_bg.gif);
background-repeat: repeat-x;
background-position: bottom;
}
.footer_1_1{
float:left;
}
.footer_1_2{
float:right;
}
.footer_2{    
float:left;
width:911px;
margin-top:10px;
color:#BE92F5;
}
.footer_2 a{    /*  页脚导航文字链接样式  */
color:#BE92F5;
}
.footer_2 a:hover{   /*  页脚导航文字链接鼠标经过样式  */
color:#cf2d2d;
}
.footer_3{    /*  页脚文字样式  */
float:left;
width:911px;
margin-top:10px;
line-height:20px;
color:#707070;
display:inline;
}
.footer_3 a{    /*  页脚友情链接文字链接样式  */
color:#707070;
}
.footer_3 a:hover{    /*  页脚友情链接文字链接鼠标经过样式  */
color:#cf2d2d;
}
.footer_4{
float:left;
width:911px;
height:30px;
}
.cuowu{border:0px;
background-color:#FFCC33;
       margin:0px;
       padding:0px;
       text-align:center;
}
.cuowu-1{width:100%;
         border:0px;
         background-color:#FFCC33;
         text-align:center;
         line-height:30px;
}
.cuowu-2{font-size:25px;
       font-weight:bold;
       letter-spacing:2px;
}