.ks-inline-block {
    display: inline-block;
    position: relative;
}
* html .ks-inline-block {
    display: inline;
}
:first-child + html .ks-inline-block {
    display: inline;
}
html > body .ks-inline-block {
    display: inline-block;
}
.ks-clearfix:after {
    clear: both;
    content: " ";
    display: block;
    height: 0;
}
.ks-clearfix {
}
.ks-editor {
    border: 1px solid #DFDFDF;
    line-height: 1 !important;
}
.ks-editor-toolbar {
    background: url("editor-bg.png") repeat-x scroll 0 -192px #E5E5E5;
    border-bottom: 1px solid #DFDFDF;
    line-height: 1;
    overflow: hidden;
    padding: 3px 3px 2px;
    position: relative;
}
.ks-editor-toolbar-button {
    -moz-user-select: none;
    cursor: default;
    margin: 0 2px;
    vertical-align: middle;
    white-space: nowrap;
}
.ks-editor-toolbar-button-outer-box {
    padding: 1px 0;
}
.ks-editor-toolbar-button-inner-box {
    margin: 0 -1px;
    padding: 3px 5px;
}
.ks-editor-toolbar-button:hover .ks-editor-toolbar-button-outer-box, .ks-editor-toolbar-button-hover .ks-editor-toolbar-button-outer-box, .ks-editor-toolbar-button-selected .ks-editor-toolbar-button-outer-box, .ks-editor-toolbar-button:hover .ks-editor-toolbar-button-inner-box, .ks-editor-toolbar-button-hover .ks-editor-toolbar-button-inner-box, .ks-editor-toolbar-button-selected .ks-editor-toolbar-button-inner-box {
    border: 1px solid #A1BADF;
}
.ks-editor-toolbar-button:hover .ks-editor-toolbar-button-inner-box, .ks-editor-toolbar-button-hover .ks-editor-toolbar-button-inner-box, .ks-editor-toolbar-button-selected .ks-editor-toolbar-button-inner-box, .ks-editor-toolbar-select .ks-editor-toolbar-button-inner-box {
    border-width: 0 1px;
    padding: 3px 4px;
}
.ks-editor-toolbar-button:hover .ks-editor-toolbar-button-outer-box, .ks-editor-toolbar-button-hover .ks-editor-toolbar-button-outer-box, .ks-editor-toolbar-button-selected .ks-editor-toolbar-button-outer-box, .ks-editor-toolbar-select .ks-editor-toolbar-button-outer-box {
    border-width: 1px 0;
    padding: 0;
}
.ks-editor-toolbar-button-selected {
    background-color: #DDE1EB;
}
.ks-editor-toolbar-item {
    background: url("toolbar-sprite.png") no-repeat scroll 0 0 transparent;
    display: block;
    height: 14px;
    overflow: hidden;
    text-indent: -999999px;
    vertical-align: middle;
    width: 15px;
}
.ks-editor-toolbar-source {
    background-position: -1013px 50%;
    width: 16px;
}
.ks-editor-toolbar-undo {
    background-position: 0 50%;
}
.ks-editor-toolbar-redo {
    background-position: -16px 50%;
}
.ks-editor-toolbar-bold {
    background-position: -32px 50%;
}
.ks-editor-toolbar-italic {
    background-position: -48px 50%;
}
.ks-editor-toolbar-underline {
    background-position: -64px 50%;
}
.ks-editor-toolbar-strikeThrough {
    background-position: -624px 50%;
}
.ks-editor-toolbar-link {
    background-position: -560px 50%;
    width: 16px;
}
.ks-editor-toolbar-blockquote {
    background-position: -241px 50%;
}
.ks-editor-toolbar-image {
    background-position: -978px 50%;
    width: 18px;
}
.ks-editor-toolbar-smiley {
    background-position: -961px 50%;
    width: 16px;
}
.ks-editor-toolbar-insertOrderedList {
    background-position: -176px 50%;
}
.ks-editor-toolbar-insertUnorderedList {
    background-position: -160px 50%;
}
.ks-editor-toolbar-outdent {
    background-position: -144px 50%;
}
.ks-editor-toolbar-indent {
    background-position: -128px 50%;
}
.ks-editor-toolbar-justifyLeft {
    background-position: -192px 50%;
}
.ks-editor-toolbar-justifyCenter {
    background-position: -208px 50%;
}
.ks-editor-toolbar-justifyRight {
    background-position: -224px 50%;
}
.ks-editor-toolbar-foreColor {
    background-position: -80px 50%;
    height: 12px;
}
.ks-editor-toolbar-backColor {
    background-position: -96px 50%;
    height: 12px;
}
.ks-editor-toolbar-maximize {
    background-position: -996px 50%;
}
.ks-editor-toolbar-removeformat {
    background-position: -256px 50%;
}
.ks-editor-stripbar-sep {
    border-left: 1px solid #D6D6D6;
    border-right: 1px solid #F7F7F7;
    height: 16px;
    margin: 0 2px;
    vertical-align: middle;
    width: 0;
}
.ks-editor-toolbar-menu-button-caption {
    padding: 0 4px 0 0;
    vertical-align: middle;
}
.ks-editor-toolbar-menu-button-dropdown {
    background: url("toolbar-sprite.png") no-repeat scroll -388px 50% transparent;
    height: 14px;
    vertical-align: middle;
    width: 7px;
}
.ks-editor-toolbar-color-button .ks-editor-toolbar-button-inner-box, .ks-editor-toolbar-color-button:hover .ks-editor-toolbar-button-inner-box, .ks-editor-toolbar-color-button-hover .ks-editor-toolbar-button-inner-box {
    padding-bottom: 2px;
    padding-top: 2px;
}
.ks-editor-toolbar-color-button-indicator {
    border-bottom: 4px solid #F0F0F0;
}
.ks-editor-toolbar-button-active {
    background-color: #DDE1EB;
}
.ks-editor-toolbar-button-active .ks-editor-toolbar-outer-box, .ks-editor-toolbar-button-active .ks-editor-toolbar-inner-box {
    border-color: #729BD1;
}
.ks-editor-drop-menu {
    left: 0;
    position: absolute;
    top: 0;
    white-space: nowrap;
    z-index: 9002;
}
.ks-editor-drop-menu-shadow {
    background-color: #000000;
    bottom: -2px;
    height: 100%;
    opacity: 0.1;
    position: absolute;
    right: -2px;
    width: 100%;
    z-index: -1;
}
.ks-editor-drop-menu-content {
    background-color: #FFFFFF;
    border: 1px solid #CCCCCC;
    color: #333333;
    padding: 3.5px 0 0;
}
.ks-editor-drop-menu-shim {
    z-index: 9001;
}
.ks-editor-palette-table {
    margin: 5px 8px 8px;
}
.ks-editor-palette-table table {
    border: 1px solid #666666;
    border-collapse: collapse;
}
.ks-editor-palette-cell {
    border-right: 1px solid #666666;
    cursor: pointer;
    height: 18px;
    width: 18px;
}
.ks-editor-palette-colorswatch {
    height: 18px;
    width: 18px;
}
.ks-editor-palette-cell-selected .ks-editor-palette-colorswatch {
    background: url("toolbar-sprite.png") no-repeat scroll -368px 50% transparent;
    border: 1px solid #333333;
    height: 16px;
    width: 16px;
}
.ks-editor-toolbar-select .ks-editor-toolbar-button-outer-box, .ks-editor-toolbar-select .ks-editor-toolbar-button-inner-box {
    border-color: #BFCBDF;
    border-style: solid;
}
.ks-editor-toolbar-select .ks-editor-toolbar-item {
    background: none repeat scroll 0 0 transparent;
    color: #224466;
    font: 12px Arial,sans-serif;
    height: 15px;
    text-indent: 0;
    width: auto;
}
.ks-editor-option {
    color: #0000CC;
    cursor: default;
    line-height: 1;
    margin: 0;
    padding: 5px 15px;
}
.ks-editor-drop-menu-fontName .ks-editor-option {
    font-size: 14px;
}
.ks-editor-drop-menu-fontSize .ks-editor-option {
}
.ks-editor-toolbar-select .ks-editor-toolbar-fontName {
    width: 91px;
}
.ks-editor-toolbar-select .ks-editor-toolbar-fontSize {
    width: 35px;
}
.ks-editor-option-selected {
    background: url("check.gif") no-repeat scroll 0 50% transparent;
}
.ks-editor-option:hover, .ks-editor-option-hover {
    background-color: #E0EDFE;
}
.ks-editor-drop-menu-fontSize {
    text-align: center;
}
.ks-editor textarea {
    border: medium none;
    font: 13px/150% "Courier New",monospace;
    padding: 0;
}
.ks-editor-link {
    padding: 10px;
}
.ks-editor-link label {
    display: inline-block;
    margin-right: 10px;
    text-align: right;
    vertical-align: middle;
    width: 40px;
}
.ks-editor-link li {
    margin: 0 0 10px;
}
.ks-editor-link input {
    padding: 2px 1px;
    vertical-align: middle;
}
.ks-editor-link-target input {
    margin-left: 50px;
    padding: 0 10px 0 0;
}
.ks-editor-link .ks-editor-dialog-actions {
    height: 25px;
    line-height: 30px;
    margin-bottom: 0;
    padding: 0 5px 0 45px;
}
.ks-editor-link-actions button {
    float: left;
    margin: 0 5px;
    padding: 1px 0.8em 0;
}
.ks-editor-link-remove {
    color: #0000CC;
    cursor: pointer;
    float: right;
    line-height: 23px;
}
.ks-editor-link-newlink-mode .ks-editor-link-remove {
    display: none;
}
.ks-editor-link form {
    width: 275px;
}
.ks-editor-image {
    padding: 10px 0;
}
.ks-editor-image-tabs {
    padding-left: 10px;
}
.ks-editor-image-tabs li {
    -moz-border-bottom-colors: none;
    -moz-border-image: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F6F6F6;
    border-color: #CCCCCC #CCCCCC -moz-use-text-color;
    border-style: solid solid none;
    border-width: 1px 1px medium;
    cursor: pointer;
    float: left;
    height: 21px;
    line-height: 21px;
    margin-left: 5px;
    position: relative;
    text-align: center;
    top: 1px;
    width: 60px;
}
li.ks-editor-image-tab-selected {
    border-bottom: 1px solid #FFFFFF;
    border-color: #CCCCCC #CCCCCC #FFFFFF;
    cursor: default;
}
.ks-editor-image-tab-content {
    border-top: 1px solid #CCCCCC;
    padding: 10px 20px;
}
.ks-editor-image-no-tab .ks-editor-image-tabs {
    display: none;
}
.ks-editor-image-no-tab .ks-editor-image-tab-content {
    border-top: medium none;
    padding: 0 10px 10px;
}
.ks-editor-image label {
    display: block;
    margin: 5px 0;
}
.ks-editor-image input {
    padding: 2px 1px;
    vertical-align: middle;
}
.ks-editor-image .ks-editor-dialog-actions {
    overflow: hidden;
    padding-left: 15px;
}
.ks-editor-image label input {
    margin-right: 5px;
}
.ks-editor-image-uploading {
    border-top: 1px solid #CCCCCC;
    padding: 20px 10px 10px;
}
.ks-editor-image-uploading p {
    background: url("uploading.gif") no-repeat scroll 0 0 transparent;
    padding-top: 30px;
}
.ks-editor-smiley-icons {
    padding: 5px;
}
.ks-editor-smiley-icons img {
    border: 1px solid #FFFFFF;
    cursor: pointer;
    margin: 2px 5px;
}
.ks-editor-smiley-dialog {
    padding: 8px 5px 10px;
}
.ks-editor-smiley-sprite span {
    border: 1px solid #FFFFFF;
    cursor: pointer;
    display: block;
    float: left;
}
.ks-editor-smiley-icons img:hover, .ks-editor-smiley-sprite span:hover {
    border: 1px solid #808080;
}
.ks-editor-dialog-actions button {
    float: left;
    line-height: 17px;
    margin: 0 5px;
    padding: 1px 10px;
}
.ks-editor-btn-cancel {
    color: #0000CC;
    cursor: pointer;
    float: left;
    line-height: 23px;
    margin: 0 10px;
}
.ks-editor-maximize-mode {
    height: 100% !important;
    left: 0;
    position: fixed;
    top: 0;
    width: 100% !important;
    z-index: 9000;
}
.ks-editor-maximize-mode .ks-editor-content, .ks-editor-maximize-mode textarea {
    height: 100% !important;
    width: 100% !important;
}
.ks-editor-statusbar {
    background-color: #E5E5E5;
    border-top: 1px solid #DFDFDF;
    height: 16px;
    line-height: 16px;
    padding: 4px 0 5px;
    position: relative;
}
.ks-editor-statusbar-item {
    margin: 0 2px;
    padding: 2px 0;
    vertical-align: middle;
    white-space: nowrap;
}
.ks-editor-wordcount {
    padding-left: 3px;
}
.ks-editor-wordcount em {
    color: #333333;
    font-weight: bold;
}
.ks-editor-wordcount-alarm em {
    color: #FF0000;
}
.ks-editor-resize {
    background: url("resize.png") no-repeat scroll 0 0 transparent;
    position: absolute;
    right: 0;
    top: 3px;
    width: 50px;
}
.ks-editor-resize span {
    cursor: pointer;
    display: block;
    float: left;
    height: 20px;
    margin-right: 3px;
    text-indent: -999999px;
    width: 20px;
}
.ks-editor-content textarea {
    border: 0 none;
    outline: medium none;
    resize: none;
}
.ks-editor-src-mode .ks-editor-toolbar-button, .ks-editor-src-mode .ks-editor-stripbar-sep {
    visibility: hidden;
}
.ks-editor-src-mode .ks-editor-toolbar-source-button {
    visibility: visible;
}
.ks-editor-post {
    font: 14px/1.5 tahoma,arial,ו,sans-serif;
}
.ks-editor-post em {
    font-style: italic;
}
.ks-editor-post ul, .ks-editor-post ol, .ks-editor-post dl {
    margin: 1em 1em 1em 2em;
}
.ks-editor-post ol li {
    list-style: decimal outside none;
}
.ks-editor-post ul li {
    list-style: disc outside none;
}
.ks-editor-post dl dd {
    margin-left: 1em;
}
.ks-editor-post-table {
    margin-bottom: 1em;
}
.ks-editor-post-table th, .ks-editor-post-table td {
    padding: 0.5em;
}
.ks-editor-post-table caption {
    margin-bottom: 0.5em;
}
.ks-editor-post p, .ks-editor-post fieldset, .ks-editor-post pre {
    margin-bottom: 1em;
}
.ks-editor-post blockquote {
    margin: 0 0 0 40px;
}
.ks-editor-post h1, .ks-editor-post h2, .ks-editor-post h3 {
    margin: 0.67em 0;
}
